.header{
  position: fixed;
  width: 100%;
  top: 3.125rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
  height: 6.875rem;
  z-index: 99;

  transition: 0.5s;
}

.header_inner{
  height: 100%;
  border-radius: 60px;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0px 0px 4px rgba(27,29,31,0.2);

  white-space: nowrap;

  transition: 0.5s;
}
  .header:hover .header_inner{
    background-color: rgba(255,255,255,1.0);
  }
  .header.scrolled{
    top: 0rem;
    height: 5.625rem;
  }
  .header.scrolled .header_inner{
    width: 100%;
    border-radius: 0%;
  }

.header_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 3.125rem;
  height: 100%;
}
.logo_wrap{
  height: 100%;
}
.logo_wrap a{
  display: block;
  height: 100%;
}
.header_logo{
  padding: 0.9375rem 0px;
  height: 100%;
  width: auto;
}
.nav_wrap{
  margin-right: auto;
  width: 55%;
  height: 100%;
}

.gnb_ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gnb_li{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;

  position: relative;
}
.gnb_li>a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
  font-weight: 700;
}

.snb_ul{  
  position: absolute;
  width: 120%;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 100%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: 0.3s; 트랜지션 걸면 이상함*/   

  overflow: hidden;
  height: 0px;
}

  .gnb_li.on .snb_ul{  
    padding-top: 20px;
    height: fit-content;
  }
  .gnb_li.on::before{ 
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(255,255,255,0.8);  
    z-index: 5;

    transform: translate(-50%, 100%);
  }

.snb_ul>.snb_li:first-child{
  border-radius: 20px 20px 0px 0px;
}
.snb_ul>.snb_li:last-child{
  border-radius: 0px 0px 20px 20px;
}
.snb_li{
  width: 100%;
  background-color: rgba( 255,255,255,0.8);
  height: 100%;

  transition: 0.2s;
}
  .gnb_li.on .snb_li{
    padding: 1rem 0px;
  }
  .snb_li:hover{
    background-color: rgba( 255,255,255,0.90);
  }




.snb_li a{
  display: block;
  text-align: center;
  width: 100%;
  height: 0%;
  overflow: hidden;
  cursor: pointer;

  transition: 0.2s;
  font-weight: 600;
}
  .snb_li:hover a{
    color : var(--orange);
    transform: scale(1.1);
  }
  .gnb_li.on .snb_li a{
    height: 100%;
  }

.header_right{  
  display: flex;
  gap: 1.25rem;
  justify-content: space-around;
  align-items: center;
}
.search_button{
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
}
.search_button i{
  font-size: 1.44rem;
  font-weight: bold;
  color : var(--orange)
}


.modal_search_bar{
  position: absolute;
  width: 25rem;
  height: 0rem;
  top : 6rem;
  background-color: #fff;
  z-index: 20;
  right: 0;
  border-radius: 40px;
  transform: translate(-50%);
  overflow: hidden;

  transition: 0.2s;
}
  .modal_search_bar.visible{
    height: 4rem;
  }
.modal_arrow{
  background-color: white;
  position: relative;
}
.modal_arrow::before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 30px;
  transform: rotate(-45deg);
  background-color: white;
  border: 1px solid rgba(187, 187, 187, 0.15);
  box-shadow: 0px 0px 3px rgba(187, 187, 187, 0.15);
}
.search_bar_wrap{
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(187, 187, 187, 0.15);
  box-shadow: 0px 0px 3px rgba(187, 187, 187, 0.15);
  width: 100%;
  height: 100%;
}
.search_bar{
  width: 80%;
  height: 100%;
  padding :5px 10px;
  border : none;
  padding-left: 30px;
  background-color: rgba(187, 187, 187, 0.15);
  border-radius: 5px;
}
  .search_bar:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
    background-color: white;
  }
.search_bar_search_button,.search_bar_close_button,.mobile_search_bar_close_button{
  z-index: 20;
  padding :5px 10px;
  height: 100%;
  background-color: white;
  width: 20%;
}
.search_bar_search_button, .search_bar_close_button{
  border: 0px;
  border-right: 1px solid rgba(187, 187, 187, 0.15);
}
.search_bar_close_button i,.mobile_search_bar_close_button i{
  font-size: var(--span-size);
}



.header_right a{
  font-weight: 500;
  font-size: 1.125rem;
  color : #464646;
}
.login_button{
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--orange);
  color : white;
  font-size: 1.125rem;
  font-weight: 700;

}



/* 모바일 */
.mobile{
  display: none;
}