@media screen and (max-width : 1280px) {
  .smart_line_img_wrap,.map_img_wrap,.order_img_wrap,.phone_text_wrap,.Google_Play_download_button{
    display: none;
  }

  .everland_img_section{
    height: 600px; /* 변경? */
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    gap: 0rem;
    margin-top: 60px;
  }
  .everland_app .mobile{
    display: flex;
  }
  .mobile_phone_text_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    width: 100%;

  }
  .mobile_phone_text_wrap p{
    font-size: 1.4rem;
    color: var(--purple);
    font-weight: bold;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
  }
  .app_phone_img{
    height: 90%;
  }
  .phone_img_wrap{
    width: 50%;
  }
  
  .scrolled .phone_img_wrap:before{
    left: -50%;
    /* transform: translate(-25%); */
    width: clamp(750px,170%,170%) ;
    padding-bottom: clamp(750px,170%,170%) ;
  }
  .mobile_app_text_wrap{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .mobile_app_text_wrap eng{
    font-family: 'Montserrat';
    font-weight: bold;
    color: var(--orange);
  }
  .mobile_app_text_wrap p, .mobile_app_text_wrap span{
    width: 100%;
    /* color: white; */
    font-size: 2.0rem;
    font-weight: bold;
    text-align: right;

    text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
  }
  .app_section_play_store_button{
    margin-top: 1.5rem;

    width: 12rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--orange);

    font-size: 1.2rem;
    color: white;
    font-weight: bold;


    display: flex;
    justify-content: space-around;
    align-items: center;


    position: relative;
  }
  .app_section_play_store_button:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    left: 50%;
    top : 50%;
  
    transform: translate(-50%,-50%);
  
    box-shadow: 0px 0px 5px rgba(244,144,0,1);
    transition: 0.5s;
  }
}

@media screen and (max-width : 675px) {
  .app_phone_img{
    height: 75%;
  }
  .mobile_app_text_wrap p, .mobile_app_text_wrap span{
    font-size: 1.6rem;

  }
  .scrolled .phone_img_wrap:before{
    width: clamp(650px,170%,170%) ;
    padding-bottom: clamp(650px,170%,170%) ;
  }
}